---
import Arrow from '@/components/shared/arrow.astro';
import Breadcrumbs from '@/components/shared/breadcrumbs.astro';
import Link from '@/components/shared/link.astro';
import BaseLayout from '@/layouts/base-layout.astro';
---

<BaseLayout title="Music">
    <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-serif font-medium">Music</h1>
        <Breadcrumbs />
        <ul class="space-y-2 w-fit">
            <li class="flex items-center group gap-2">
                <Arrow />
                <Link href="/music/vinyls" title="Vinyl collection" internal />
            </li>
            <li class="flex items-center group gap-2">
                <Arrow />
                <Link href="/music/concerts" title="Concert tracker" internal />
            </li>
            <li class="flex items-center group gap-2">
                <Arrow />
                <Link href="/music/top-picks" title="Top picks" internal />
            </li>
        </ul>
    </div>
</BaseLayout>
