@import "tailwindcss";
@import "./animation.css";
@plugin '@tailwindcss/typography';

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2644 0 0);
}

.dark {
    --background: oklch(0.1288 0.0406 264.7);
    --foreground: oklch(0.9848 0 0);
}

@theme inline {
    --color-pure-blue: #0007fb;
    --color-baby-powder: #fdfffc;
    --color-licorice: #1c110a;

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-hanken-grotesk);
    --font-serif: var(--font-lora);
    --font-mono: var(--font-ibm-plex-mono);

    --font-sans: "Hanken Grotesk Variable", serif;
    --font-serif: "Lora Variable", sans-serif;
    --font-mono: "IBM Plex Mono", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));
