---
import BaseLayout from '@/layouts/base-layout.astro';
import Link from '@/components/shared/link.astro';
import { TypographyH1, TypographyP } from '@/components/shared/typography';
---
<BaseLayout title="Hobbies">
    <div class="flex flex-col gap-2">
        <TypographyH1>Hobbies</TypographyH1>
        <TypographyP>
            I am a passionate basketball fan, keeping up with the NBA closely. My favorite team is the Chicago Bulls,
            with the New York Knicks being a close second. I also support Arka Gdynia in the Polish Basketball League - PLK.
            When I'm not watching hoops, I love playing padel, lifting weights, going for runs, and sailing. I enjoy spending time
            in the kitchen - I bake my own sourdough <Link href="/bread" title="bread" internal /> at least once a week.
            Music is a big passion too; I'm always curating my "<Link href="/music/top-picks" title="top picks" internal />"
            of the year lists and adding new vinyl records to my <Link href="/music/vinyls" title="collection" internal />.
        </TypographyP>
    </div>
</BaseLayout>
