---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/base-layout.astro';
import { TypographyH1, TypographyH2, TypographyP } from '@/components/shared/typography';
import ProjectCard from '@/components/project-card.astro';

const workProjects = await getCollection('workProjects');
const personalProjects = await getCollection('personalProjects');
---
<BaseLayout title="Projects">
    <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
            <TypographyH1>Projects</TypographyH1>
            <TypographyP>
                Here's a list of projects I've worked on over the years.
            </TypographyP>
        </div>

        <div class="flex flex-col gap-2">
            <TypographyH2>Personal</TypographyH2>
            <TypographyP>
                These are some of my side projects I've been working on in my free time.
            </TypographyP>
            <div class="flex flex-col gap-4">
                {personalProjects.map(project => (
                    <ProjectCard key={project.id} {...project.data} />
                ))}
            </div>
        </div>

        <div class="flex flex-col gap-2">
            <TypographyH2>Work</TypographyH2>
            <TypographyP>
                I started programming my last year of high school and I landed my first "real" job
                during my time at Lancaster University. I worked on the university's official app - the iLancaster mobile app
                and the Lancaster University Portal. This is where I started my journey with React and gained experience
                working with a team in an agile environment.
            </TypographyP>
            <TypographyP>
                I have worked at Secretarium for over 5 years and I was lucky
                to be involved in the development of some of their most innovative
                projects. Everything was built on top of confidential computing,
                meaning we prioritized data security and privacy at every step.
            </TypographyP>
            <div class="flex flex-col gap-4">
                {workProjects.reverse().map(project => (
                    <ProjectCard key={project.id} {...project.data} />
                ))}
            </div>
        </div>
    </div>
</BaseLayout>
