---
import BaseLayout from '@/layouts/base-layout.astro';
import { TypographyH1, TypographyP } from '@/components/shared/typography';
---
<BaseLayout title="Projects">
    <div class="flex flex-col gap-2">
        <TypographyH1>Projects</TypographyH1>
        <TypographyP>WIP</TypographyP>
    </div>
</BaseLayout>
