---
import { LocalTime } from '@/components/local-time';
---

<footer
    class="pt-2 flex items-center justify-end border-t border-pure-blue"
>
    <div class="flex gap-2 items-center font-mono">
        Gdynia
        <svg width="6" height="6" class="animate-pulse">
            <circle cx="3" cy="3" r="3" fill="#0007fb"></circle>
        </svg>
        <LocalTime client:load />
    </div>
</footer>
