---
import { Image } from "astro:assets";
import VinylPng from "@/assets/black-vinyl.png";
import CdPng from "@/assets/clear-cd.png";
import Breadcrumbs from "@/components/shared/breadcrumbs.astro";
import BaseLayout from "@/layouts/base-layout.astro";
import { slugify } from "@/lib/utils";
import { getDiscogsCollection } from "@/lib/discogs";

const collection = await getDiscogsCollection();
---

<BaseLayout title="damitzi | vinyls">
    <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-serif font-medium">Music</h1>
        <Breadcrumbs />
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-10">
            {
                collection.releases.map((release) => (
                    <a
                        href={`/music/vinyls/${slugify(release.basic_information.title)}`}
                        class="relative group"
                    >
                        <Image
                            src={release.basic_information.cover_image}
                            alt={release.basic_information.title}
                            width={200}
                            height={200}
                            class="hover:scale-105 transition-transform duration-300 rounded-xs relative z-10 aspect-square"
                            transition:name={`playlist ${release.id + "_a"} image`}
                        />
                        <Image
                            src={
                                release.basic_information.formats
                                    .map((format) => format.name)
                                    .find((name) => name === "Vinyl")
                                    ? VinylPng
                                    : CdPng
                            }
                            alt={
                                release.basic_information.formats
                                    .map((format) => format.name)
                                    .find((name) => name === "Vinyl")
                                    ? "A black vinyl record"
                                    : "A clear CD"
                            }
                            width={200}
                            height={200}
                            class="absolute top-0 group-hover:translate-x-10 transition-transform duration-300 z-0"
                        />
                    </a>
                ))
            }
        </div>
    </div>
</BaseLayout>
