@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2644 0 0);
}

.dark {
    --background: oklch(0.1288 0.0406 264.7);
    --foreground: oklch(0.9848 0 0);
}
