---
import '@/styles/global.css';
import '@fontsource-variable/hanken-grotesk';
import '@fontsource/ibm-plex-mono';
import '@fontsource-variable/lora';
import { ClientRouter } from 'astro:transitions';
import Footer from '@/components/footer.astro';
import Header from '@/components/header.astro';
import SideNav from '@/components/side-nav.astro';
import Noise from '@/components/backgrounds/noise.astro';
import Grid from '@/components/backgrounds/grid.astro';
import Theme from '@/components/theme.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{`${title} | Damian T`}</title>
        <Theme />
        <ClientRouter />
    </head>
    <body
        class="relative antialised font-sans bg-background text-foreground"
        transition:persist
    >
        <Noise />
        <Grid />
        <div
            class="min-h-dvh w-full flex flex-col mx-auto max-w-4xl px-4 py-8 gap-8"
        >
            <Header />
            <div class="grid grid-cols-12 flex-grow">
                <div class="hidden sm:block sm:col-span-3">
                    <SideNav />
                </div>
                <main class="col-span-12 sm:col-span-9">
                    <slot />
                </main>
            </div>
            <Footer />
        </div>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
    }
</style>
